.nav {
  display: inline;
}

.nav-left {
  /*margin-left: 30h;*/
}

.nav-right {
  float: right;
}

.nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 15px 18px;
  margin: 2px 2px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 2px;
}

.nav a:hover {
  background-color: rgb(174, 170, 170);
  color: black;
}

.logout {
  cursor: pointer;
}

.logged {
  font-size: 10px;
}

