<div class="container" *ngIf="workoutTypes">
  <dx-button
    class="add-button"
    icon="plus"
    text="Add workout type"
    type="success"
    (onClick)="openCreatePopup()">
  </dx-button>
  <dx-accordion
  [dataSource]="workoutTypes.items"
  [collapsible]="true"
  [animationDuration]="150"
  itemTemplate="contentData"
  itemTitleTemplate="titleData">
    <div *dxTemplate="let workoutType of 'titleData'">
      <p class="title">{{ workoutType.name }}</p>
    </div>
    <div *dxTemplate="let workoutType of 'contentData'">
      <div>
        <div class="sub-title">Description:</div>
        <div class="margin-bottom">{{ workoutType.description }}</div>
      </div>
      <div>
        <div class="sub-title">Intensity:</div>
        <div class="margin-bottom">{{ workoutType.intensity }}</div>
      </div>
      <div>
        <div class="sub-title">Tags:</div>
        <div *ngFor="let workoutTag of workoutType.workoutTypeTags">
             <div class="tag">{{ getWorkoutTag(workoutTag) }}</div>
        </div>
      </div>
      <div class="clear-both margin-bottom"></div>
      <div>
        <div class="sub-title">Instructors:</div>
        <div *ngFor="let instructor of workoutType.instructors; let last = last">
            <div class="instructor" [routerLink]="['/instructors/' + instructor]">{{ getInstructor(instructor) }}</div>
            <div *ngIf="!last" class="comma">,</div>
        </div>
      </div>
      <div class="buttons clear-both">
        <dx-button
          class="accordion-button success-button"
          text="Edit"
          icon="rename"
          type="success"
          (onClick)="openUpdatePopup(workoutType)">
        </dx-button>
        <dx-button
          class="accordion-button"
          text="Delete"
          icon="trash"
          type="danger"
          (onClick)="openDeletePopup(workoutType.id)">
        </dx-button>
      </div>
    </div>
  </dx-accordion>

  <app-pager
    [allowedPageSize]="[10, 20, 50]"
    [totalPages]="workoutTypes.totalPages"
    (pageSizeChanged)="pageSizeChanged($event)"
    (pageNumberChanged)="pageNumberChanged($event)">
  </app-pager>

</div>

<dx-popup
  [(visible)]="isCreatePopupOpened"
  [showTitle]="true"
  title="Add workout type"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="500"
  contentTemplate="popupContent">
  <div *dxTemplate="let data of 'popupContent'">
    <dx-form [(formData)]="workoutTypeCommand" (onInitialized)="onCreatePopupForm($event)">
      <dxi-item dataField="name" editorType="dxTextBox">
        <dxi-validation-rule type="required" message="Workout type name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="50" message="Workout type name must be a maximum of 50 characters"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ height: 120 }">
        <dxi-validation-rule type="required" message="Workout type name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="600" message="Workout type name must be a maximum of 50 characters"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="intensity" editorType="dxSelectBox"
        [editorOptions]="{ dataSource: intensity, valueExpr: 'index', displayExpr: 'value' }">
        <dxi-validation-rule type="required" message="Intensity is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="workoutTypeTags" editorType="dxTagBox"
        [editorOptions]="{ dataSource: workoutTypeTags, valueExpr: 'id', displayExpr: 'tag' }">
      </dxi-item>
      <dxi-item dataField="instructors" editorType="dxTagBox"
                [editorOptions]="{ dataSource: instructors, valueExpr: 'id', displayExpr: 'lastName' }">
      </dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closePopup()"></dx-button>
    <dx-button
      text="Save"
      type="success"
      (onClick)="createWorkoutType()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>

<dx-popup
  [(visible)]="isUpdatePopupOpened"
  [showTitle]="true"
  title="Edit workout type"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="540"
  contentTemplate="popupContent">
  <div *dxTemplate="let data of 'popupContent'">
    <dx-form [(formData)]="workoutTypeCommand" (onInitialized)="onUpdatePopupForm($event)">
      <dxi-item dataField="id" editorType="dxTextBox" [disabled]="true"></dxi-item>
      <dxi-item dataField="name" editorType="dxTextBox">
        <dxi-validation-rule type="required" message="Workout type name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="50" message="Workout type name must be a maximum of 50 characters"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ height: 120 }">
        <dxi-validation-rule type="required" message="Workout type name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="600" message="Workout type name must be a maximum of 50 characters"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="intensity" editorType="dxSelectBox"
                [editorOptions]="{ dataSource: intensity, valueExpr: 'index', displayExpr: 'value' }">
        <dxi-validation-rule type="required" message="Intensity is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="workoutTypeTags" editorType="dxTagBox"
                [editorOptions]="{ dataSource: workoutTypeTags, valueExpr: 'id', displayExpr: 'tag' }">
      </dxi-item>
      <dxi-item dataField="instructors" editorType="dxTagBox"
                [editorOptions]="{ dataSource: instructors, valueExpr: 'id', displayExpr: 'lastName' }">
      </dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closePopup()"></dx-button>
    <dx-button
      text="Save"
      type="success"
      (onClick)="updateWorkoutType()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>

<app-confirmation-popup
  [(visible)]="isDeletePopupVisible"
  title="Delete workout type"
  content="Are you sure you want to permanently delete this workout type?"
  (confirm)="deleteWorkoutType()">
</app-confirmation-popup>
