<div class="container" *ngIf="workoutTypes">
  <dx-accordion
  [dataSource]="workoutTypes.items"
  [collapsible]="true"
  [animationDuration]="150"
  >
    <div *dxTemplate="let workoutType of 'title'">
      <p class="title">{{ workoutType.name }}</p>
    </div>
    <div *dxTemplate="let workoutType of 'item'">
      <div>
        <div class="sub-title">Description:</div>
        <div class="margin-bottom">{{ workoutType.description }}</div>
      </div>
      <div>
        <div class="sub-title">Intensity:</div>
        <div class="margin-bottom">{{ workoutType.intensity }}</div>
      </div>
      <div>
        <div class="sub-title">Tags:</div>
        <div *ngFor="let workoutTag of workoutType.workoutTypeTags">
             <div class="tag">{{ workoutTag.tag }}</div>
        </div>
      </div>
      <div class="clear-both margin-bottom"></div>
      <div>
        <div class="sub-title">Instructors:</div>
        <div *ngFor="let instructor of workoutType.instructors; let last = last">
            <div class="instructor" [routerLink]="['/instructors/' + instructor.id]">{{ instructor.firstName + ' ' + instructor.lastName }}</div>
            <div *ngIf="!last" class="comma">,</div>
        </div>
      </div>
    </div>
  </dx-accordion>
</div>