.title {
  font-weight: 600;
}

.sub-title {
  margin-bottom: 5px;
  font-weight: 550;
}

.margin-bottom {
  margin-bottom: 25px;
}

.container {
  margin: 0% 20% 0% 20%;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  float: left;
  padding: 3px 8px 3px 8px;
  margin: 3px 8px 3px 0px;
  border-radius: 2px 7px 2px 7px;
  border: solid black 1px;
  box-shadow: 2px 2px 2px rgb(16, 66, 16);
  background-image: linear-gradient(to right, rgba(26, 119, 26, 0.85), rgb(84, 168, 84));
}

.clear-both {
  clear: both;
}

.instructor {
  float: left;
  margin: 3px 0px 0px 0px;
  color: rgb(24, 108, 24);
  font-weight: 500;
}

.instructor:hover {
  cursor: pointer;
}

.comma {
  float: left;
  margin: 3px 5px 0px 0px;
}
