.title {
  font-weight: 600;
}

.sub-title {
  margin-bottom: 5px;
  font-weight: 550;
}

.margin-bottom {
  margin-bottom: 25px;
}

.container {
  margin: 0% 20% 0% 20%;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  float: left;
  padding: 3px 8px 3px 8px;
  margin: 3px 8px 3px 0px;
  border-radius: 2px 7px 2px 7px;
  border: solid black 1px;
  box-shadow: 2px 2px 2px rgb(16, 66, 16);
  background-image: linear-gradient(to right, rgba(26, 120, 26, 0.85), rgb(90, 180, 90));
}

.clear-both {
  clear: both;
}

.instructor {
  float: left;
  margin: 3px 0px 0px 0px;
  color: rgb(24, 108, 24);
  font-weight: 500;
}

.instructor:hover {
  cursor: pointer;
}

.comma {
  float: left;
  margin: 3px 5px 0px 0px;
}

.add-button {
  margin-bottom: 20px;
}

.popup-button {
  margin-right: 10px;
}

.accordion-button {
  text-align: right;
}

.accordion-button .title {
  display: inline-block;
  width: 50%;
}

.buttons {
  margin-top: 50px;
  float: right
}

.success-button {
  margin-right: 10px;
}
