<div class="container">
  <dx-data-grid
    id="grid"
    keyExpr="id"
    [dataSource]="users.items"
    [columnAutoWidth]="true"
    [showBorders]="true">

    <dxi-column dataField="id" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="firstName" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="lastName" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="email" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="gender" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="userRole" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="accountCreationDate" alignment="center" dataType="date" [format]="dateFormat"></dxi-column>

    <dxo-paging [enabled]="false"> </dxo-paging>
  </dx-data-grid>

  <app-pager
    [allowedPageSize]="[15, 30, 50]"
    [totalPages]="users.totalPages"
    (pageSizeChanged)="pageSizeChanged($event)"
    (pageNumberChanged)="pageNumberChanged($event)">
  </app-pager>
</div>

