<div class="container">
  <app-search-panel
    [allowedSortBy]="[sortBy.UserId, sortBy.UserEmail, sortBy.UserFirstName, sortBy.UserLastName, sortBy.CreatedDate]"
    [initialOrderBy]="queryParams.sortByDescending"
    (searchPhraseChanged)="searchPhraseChanged($event)"
    (sortByChanged)="sortByChanged($event)"
    (orderByDescendingChanged)="orderByChanged($event)"
    (refresh)="ngOnInit()"
  ></app-search-panel>
  <dx-data-grid
    id="grid"
    keyExpr="id"
    [dataSource]="users.items"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [showRowLines]="true"
    [columnHidingEnabled]="true"
  >
    <dxi-column dataField="id" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="firstName" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="lastName" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="email" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="userRoles" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="gender" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="createdDate" alignment="center" dataType="date" [format]="dateFormat"></dxi-column>
    <dxi-column dataField="lastModifiedDate" alignment="center" dataType="date" [format]="dateFormat"></dxi-column>

    // TODO: change userRoles column to selectbox

    <dxi-column type="buttons" caption="Delete user">
      <dxi-button cssClass="delete-button" icon="trash" [onClick]="openDeletePopup"
                  [disabled]="!(hasPermission(permissions.DeleteUserAccount) | async)! || cannotBeDeleted">
      </dxi-button>
    </dxi-column>

    <dxo-paging [enabled]="false"> </dxo-paging>
  </dx-data-grid>

  <app-pager
    [allowedPageSize]="[15, 30, 50]"
    [totalPages]="users.totalPages"
    (pageSizeChanged)="pageSizeChanged($event)"
    (pageNumberChanged)="pageNumberChanged($event)">
  </app-pager>
</div>

<app-confirmation-popup
  [(visible)]="isDeletePopupVisible"
  title="Delete application user"
  content="Are you sure you want to permanently delete this user?"
  (confirm)="deleteApplicationUser()">
</app-confirmation-popup>
