<dx-button
  *ngIf="(hasPermission(permissions.CanSeeAdministrativeContent) | async)!"
  [disabled]="!(hasPermission(permissions.CreateRealWorkout) | async)!"
  class="add-button"
  text="Add real workout"
  icon="add"
  type="success"
  (onClick)="openAddPopup()">
</dx-button>

<dx-scheduler
  [dataSource]="realWorkouts"
  currentView="week"
  textExpr="workoutTypeName"
  appointmentTemplate="workout-template"
  [showAllDayPanel]="false"
  (onAppointmentClick)="openEditPopup($event)"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onInitialized)="schedulerInitialize($event)"
  >
  <dxi-view
    type="week"
    [firstDayOfWeek]="1"
    [startDayHour]="6"
    [endDayHour]="22"
  ></dxi-view>

  <dxo-editing
    [allowDragging]="false"
    [allowAdding]="false"
    [allowResizing]="false"
    [allowUpdating]="false"
    [allowResourceAdding]="false"
    [allowResourceDeleting]="false"
  ></dxo-editing>

  <dxi-resource fieldExpr="id" [dataSource]="realWorkouts"></dxi-resource>

  <div class="appointment-background" *dxTemplate="let workout of 'workout-template'">
    <div class="appointment-container">
      <div class="appointment-title">{{ workout.targetedAppointmentData.workoutTypeName }}</div>
      <div class="appointment">Time:
        {{ workout.targetedAppointmentData.startDate | date: timeDisplayFormat }} - {{ workout.targetedAppointmentData.endDate | date: timeDisplayFormat }}
      </div>
      <div class="appointment">Instructor:
        {{ workout.targetedAppointmentData.instructorShortName }}
      </div>
      <div class="appointment">Participants:
        {{ workout.targetedAppointmentData.currentParticipantNumber }} / {{ workout.targetedAppointmentData.maxParticipantNumber }}
      </div>
    </div>
  </div>
</dx-scheduler>

<dx-popup
  [(visible)]="editPopupVisible"
  [showTitle]="true"
  title="Workout details"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="600"
  [height]="editPopupHeight"
  contentTemplate="popupContent"
>
  <div *dxTemplate="let data of 'popupContent'">
    <dx-form *ngIf="isEditMode" [(formData)]="realWorkoutCommand" (onInitialized)="editPopupFormInitialize($event)">
      <dxi-item [disabled]="true" dataField="id" editorType="dxTextBox"></dxi-item>
      <dxi-item [disabled]="!isEditMode" dataField="maxParticipantNumber" editorType="dxTextBox">
        <dxi-validation-rule type="numeric" message="Max participant number must be the number"></dxi-validation-rule>
        <dxi-validation-rule type="required" message="Max participant number is required"></dxi-validation-rule>
        <dxi-validation-rule type="range" [min]="maxParticipants()" message="Max participant number must be greater than zero or current participant number"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [disabled]="!isEditMode" dataField="instructorId" caption="Instructor" editorType="dxSelectBox"
                [editorOptions]="{ items: instructors, valueExpr: 'id', displayExpr: 'name' }">
        <dxi-validation-rule type="required" message="Instructor is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [disabled]="!isEditMode" dataField="date" editorType="dxDateBox"
                [editorOptions]="{ type: 'date', displayFormat: dateDisplayFormat, dateSerializationFormat: dateOnlyFormat,
                invalidDateMessage: 'The date must have the following format: dd.MM.yyyy'}">
        <dxi-validation-rule type="required" message="Date is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [disabled]="!isEditMode" dataField="startTime" editorType="dxDateBox"
                [editorOptions]="{ type: 'time', displayFormat: timeDisplayFormat, dateSerializationFormat: timeDisplayFormat,
                invalidDateMessage: 'The time must have the following format: HH:mm'}">
        <dxi-validation-rule type="required" message="Start time is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [disabled]="!isEditMode" dataField="endTime" editorType="dxDateBox"
                [editorOptions]="{ type: 'time', displayFormat: timeDisplayFormat, dateSerializationFormat: timeDisplayFormat,
                invalidDateMessage: 'The time must have the following format: HH:mm'}">
        <dxi-validation-rule type="required" message="End time is required"></dxi-validation-rule>
      </dxi-item>
    </dx-form>
    <div *ngIf="!isEditMode">
      <p class="field">
        <img src="assets/icons/exercise.svg" alt="Workout type">
        <span>Workout type:</span>
        <span class="field-value">{{ realWorkoutDetails!.workoutTypeName }}</span>
      </p>
      <p class="field">
        <img src="assets/icons/self_improvement.svg" alt="Instructor">
        <span>Instructor:</span>
        <span class="field-value">{{ realWorkoutDetails!.instructorFullName }}</span>
      </p>
      <p class="field">
        <img src="assets/icons/today.svg" alt="Workout date">
        <span>Date:</span>
        <span class="field-value">{{ realWorkoutDetails!.startDate | date: dateDisplayFormat }}</span>
      </p>
      <p class="field">
        <img src="assets/icons/schedule.svg" alt="Workout time">
        <span>Time:</span>
        <span class="field-value">{{ realWorkoutDetails!.startDate | date: timeDisplayFormat }} - {{ realWorkoutDetails!.endDate | date: timeDisplayFormat }}</span>
      </p>
      <p class="field">
        <img src="assets/icons/group.svg" alt="Participants">
        <span>Participants:</span>
        <span class="field-value">{{ realWorkoutDetails!.currentParticipantNumber }} / {{ realWorkoutDetails!.maxParticipantNumber }}</span>
      </p>
    </div>
    <div class="buttons-section">
      <dx-button
        *ngIf="!realWorkoutDetails!.isAlreadyReserved && isAuthenticated() && !isEditMode"
        [disabled]="realWorkoutDetails!.isExpired || !(hasPermission(permissions.CreateReservation) | async)!"
        class="popup-button"
        text="Create reservation"
        icon="add"
        type="success"
        (onClick)="bookWorkout(realWorkoutDetails!.id)">
      </dx-button>
      <dx-button
        *ngIf="realWorkoutDetails!.isAlreadyReserved && isAuthenticated() && !isEditMode"
        [disabled]="!(hasPermission(permissions.GetOwnReservationDetails) | async)!"
        class="popup-button"
        text="Go to reservation"
        icon="movetofolder"
        type="default"
        (onClick)="navigateToReservation(realWorkoutDetails!.reservationId)">
      </dx-button>
      <dx-button
        *ngIf="(hasPermission(permissions.CanSeeAdministrativeContent) | async)! && isEditMode"
        [disabled]="!(hasPermission(permissions.UpdateRealWorkout) | async)!"
        class="popup-button"
        text="Save"
        icon="save"
        type="success"
        (onClick)="editRealWorkout()">
      </dx-button>
      <dx-button
        *ngIf="(hasPermission(permissions.CanSeeAdministrativeContent) | async)! && !isEditMode"
        [disabled]="!(hasPermission(permissions.UpdateRealWorkout) | async)! || realWorkoutDetails!.isExpired"
        class="popup-button"
        text="Edit"
        icon="edit"
        type="default"
        (onClick)="toggleEditMode()">
      </dx-button>
      <dx-button
        *ngIf="(hasPermission(permissions.CanSeeAdministrativeContent) | async)! && !isEditMode"
        [disabled]="!(hasPermission(permissions.DeleteRealWorkout) | async)!"
        class="popup-button"
        text="Delete"
        icon="trash"
        type="danger"
        (onClick)="openDeletePopup()">
      </dx-button>
      <dx-button
        class="popup-button"
        [text]="closeEditPopupText()"
        type="normal"
        (onClick)="closeEditPopup()">
      </dx-button>
    </div>
  </div>
</dx-popup>

<dx-popup
  [(visible)]="addPopupVisible"
  [showTitle]="true"
  title="Add real workout"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="600"
  [height]="440"
  contentTemplate="popupContent"
>
  <div *dxTemplate="let data of 'popupContent'">
    <dx-form [(formData)]="realWorkoutCommand" (onInitialized)="addPopupFormInitialize($event)">
      <dxi-item dataField="workoutTypeId" caption="Workout type" editorType="dxSelectBox"
                [editorOptions]="{ items: workoutTypes, valueExpr: 'id', displayExpr: 'name' }">
        <dxi-validation-rule type="required" message="Workout type is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="instructorId" caption="Instructor" editorType="dxSelectBox"
                [editorOptions]="{ items: instructors, valueExpr: 'id', displayExpr: 'name' }">
        <dxi-validation-rule type="required" message="Instructor is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="maxParticipantNumber" editorType="dxTextBox">
        <dxi-validation-rule type="numeric" message="Max participant number must be the number"></dxi-validation-rule>
        <dxi-validation-rule type="required" message="Max participant number is required"></dxi-validation-rule>
        <dxi-validation-rule type="range" [min]="1" message="Max participant number must be greater than or equal 1"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="date" editorType="dxDateBox"
                [editorOptions]="{ displayFormat: dateDisplayFormat, type: 'date', dateSerializationFormat: dateOnlyFormat,
                invalidDateMessage: 'The date must have the following format: dd.MM.yyyy' }">
        <dxi-validation-rule type="required" message="Date is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="startTime" editorType="dxDateBox"
                [editorOptions]="{ type: 'time', displayFormat: timeDisplayFormat, dateSerializationFormat: timeDisplayFormat,
                invalidDateMessage: 'The time must have the following format: HH:mm'}">
        <dxi-validation-rule type="required" message="Start time is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="endTime" editorType="dxDateBox"
                [editorOptions]="{ type: 'time', displayFormat: timeDisplayFormat, dateSerializationFormat: timeDisplayFormat,
                invalidDateMessage: 'The time must have the following format: HH:mm'}">
        <dxi-validation-rule type="required" message="End time is required"></dxi-validation-rule>
      </dxi-item>
    </dx-form>
    <div class="buttons-section">
      <dx-button
        *ngIf="(hasPermission(permissions.CanSeeAdministrativeContent) | async)!"
        [disabled]="!(hasPermission(permissions.CreateRealWorkout) | async)!"
        class="popup-button"
        text="Save"
        icon="save"
        type="success"
        (onClick)="addRealWorkout()">
      </dx-button>
      <dx-button
        class="popup-button"
        text="Cancel"
        type="normal"
        (onClick)="closeAddPopup()">
      </dx-button>
    </div>
  </div>
</dx-popup>

<app-confirmation-popup
  [(visible)]="deletePopupVisible"
  title="Delete instructor"
  content="Are you sure you want to permanently delete this real workout?"
  (confirm)="deleteRealWorkout()">
</app-confirmation-popup>
