.tooltip-container {
  text-align: left;
  margin: 5px 5px 5px 15px;
}

.tooltip-title {
  font-size: 20px;
  margin: 5px 0px 10px 0px;
  float: left;
}

.tooltip {
  margin: 2px 0px 2px 0px;
}

.tooltip-button {
  float: right;
}

.appointment-background {
  background-image: linear-gradient(to right, rgba(35, 110, 35), rgb(20, 90, 20));
}

.appointment-background:hover {
  background-image: linear-gradient(to right, rgba(140, 60, 40, 0.4), rgb(140, 60, 40));
}

.appointment-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5%;
  text-align: center;
}

.appointment-container {
  margin: 5px 5px 5px 5px;
}

.appointment {
  margin: 1px 0px 1px 0px;
  font-size: 12px;
}
