.tooltip-container {
  text-align: left;
  margin: 5px 5px 5px 15px;
}

.tooltip-title {
  font-size: 20px;
  margin: 5px 0px 10px 0px;
  float: left;
}

.tooltip {
  margin: 2px 0px 2px 0px;
}

.tooltip-button {
  float: right;
}

.appointment-background {
  background-image: linear-gradient(to right, rgb(70,70,70), rgb(100,100,100));
}

.appointment-background:hover {
  background-image: linear-gradient(to right, rgba(25, 100, 25), rgb(20, 90, 20));
}

.appointment-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5%;
  text-align: center;
}

.appointment-container {
  margin: 5px 5px 5px 5px;
}

.appointment {
  margin: 1px 0px 1px 0px;
  font-size: 12px;
}
