<div class="container" *ngIf="instructor">
  <div>
    <b>Name:</b>
    {{ instructor.firstName + ' ' + instructor.lastName }}
  </div>
  <div>
    <b>Biography:</b>
    {{ instructor.biography }}
  </div>
  <div>
    <b>Gender:</b>
    {{ instructor.gender }}
  </div>
  <div>
    <b>Email:</b>
    {{ instructor.email }}
  </div>
  <div>
    <b>Workout types:</b>
    <div *ngFor="let workoutType of instructor.workoutTypes; let last = last">
      <div class="workoutType">{{ workoutType.name }}</div>
      <div *ngIf="!last" class="comma">,</div>
    </div>
  </div>
  <div class="buttons">
    <dx-button
      class="button"
      text="Edit"
      icon="rename"
      type="success"
      (onClick)="openPopup()">
    </dx-button>

    <dx-button
      class="button"
      text="Delete"
      icon="trash"
      type="danger"
      (onClick)="deleteInstructor()">
    </dx-button>
  </div>
</div>

<dx-popup
  [(visible)]="isPopupOpened"
  [showTitle]="true"
  title="Edit instructor"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="400">
  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [(formData)]="instructorCommand" (onInitialized)="onFormInitialized($event)">
      <dxi-item dataField="firstName" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
				<dxi-validation-rule type="stringLength" [max]="50" message="First name must be a maximum of 50 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="lastName" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="Last name is required"></dxi-validation-rule>
				<dxi-validation-rule type="stringLength" [max]="50" message="Last name must be a maximum of 50 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="gender" editorType="dxSelectBox"
				[editorOptions]="{ dataSource: gender, valueExpr: 'index', displayExpr: 'value' }">
				<dxi-validation-rule type="required" message="Gender is required"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="biography" editorType="dxTextBox">
				<dxi-validation-rule type="stringLength" [max]="3000" message="Biography must be a maximum of 3000 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="email" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
				<dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
			</dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closePopup()"></dx-button>
    <dx-button
      text="Save"
      type="success"
      (onClick)="editInstructor()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>
