.container {
  margin: 0% 20% 0% 20%;
}

.data {
  float: left;
}

.clear {
  clear: both;
}

.workoutType {
  float: left;
  margin: 3px 0px 0px 0px;
}

.comma {
  float: left;
  margin: 3px 5px 0px 0px;
}

.buttons {
  clear:both;
  margin-top: 80px;
}

.button-right {
  margin-right: 10px;
  float: right;
}

.button-left {
  margin-right: 10px;
  float: left;
}
