<div class="container">
  <div class="button-section">
    <p>Open Hangfire Dashboard in new browser window:</p>
    <dx-button
      text="Open Hangfire"
      type="default"
      (onClick)="openHangfireDashboard()">
    </dx-button>
  </div>
  <div class="button-section">
    <p>Force generate workouts from upcoming week:</p>
    <dx-button
      text="Force generate"
      type="danger"
      (onClick)="openGeneratePopup()">
    </dx-button>
  </div>
  <div class="button-section">
    <p>Permanently removes all repetitive workouts:</p>
    <dx-button
      text="Delete all"
      type="danger"
      (onClick)="openDeletePopup()">
    </dx-button>
  </div>
</div>

<app-confirmation-popup
  [(visible)]="isGeneratePopupVisible"
  [title]="popupTitle"
  [content]="popupContent"
  (confirm)="forceGenerateUpcomingWeek()">
</app-confirmation-popup>

<app-confirmation-popup
  [(visible)]="isDeletePopupVisible"
  [title]="popupTitle"
  [content]="popupContent"
  (confirm)="deleteAllRepetitiveWorkouts()">
</app-confirmation-popup>
