<div class="container">
  <div class="button-section">
    <p>Open Hangfire Dashboard in new browser window:</p>
    <dx-button
      [disabled]="!(hasPermission(permissions.OpenHangfireDashboard) | async)!"
      text="Open Hangfire"
      type="default"
      icon="chart"
      (onClick)="openHangfireDashboard()">
    </dx-button>
  </div>
  <div class="button-section">
    <p>Force generate workouts from upcoming week:</p>
    <dx-button
      [disabled]="!(hasPermission(permissions.GenerateNewUpcomingWeek) | async)!"
      text="Force generate"
      type="danger"
      icon="newfolder"
      (onClick)="openGeneratePopup()">
    </dx-button>
  </div>
  <div class="button-section">
    <p>Permanently removes all repetitive workouts:</p>
    <dx-button
      [disabled]="!(hasPermission(permissions.DeleteAllRepetitiveWorkouts) | async)!"
      text="Delete all"
      type="danger"
      icon="trash"
      (onClick)="openDeletePopup()">
    </dx-button>
  </div>
</div>

<app-confirmation-popup
  [(visible)]="isGeneratePopupVisible"
  [title]="popupTitle"
  [content]="popupContent"
  (confirm)="forceGenerateUpcomingWeek()">
</app-confirmation-popup>

<app-confirmation-popup
  [(visible)]="isDeletePopupVisible"
  [title]="popupTitle"
  [content]="popupContent"
  (confirm)="deleteAllRepetitiveWorkouts()">
</app-confirmation-popup>
