.container {
  margin: 1% 1% 1% 1%;
}

.buttons {
  margin-top: 50px;
  margin-bottom: 20px;
}

.clear-both {
  clear: both;
}

.inline-button {
  display: inline-block;
  margin-right: 10px;
}

.right {
  float: right;
}
