<div class="container">

    <div class="input-area">
        <mat-form-field appearance="fill" [floatLabel]="'always'">
            <mat-label>Login</mat-label>
            <input matInput [type]="'login'">
        </mat-form-field>   
    </div>

    <div class="input-area">
        <mat-form-field appearance="fill" [floatLabel]="'always'">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>    
    </div>

    <div class="button-area">
        <button>Sign in</button>
    </div>
</div>