 .nav-menu {
    background-color: whitesmoke;
    padding: 20px 10px 20px 10px;
    
  }

  .nav-button {
    text-align: right;
  }

  .workout {
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: rgb(24, 108, 24);
    margin-left: 15px;
  }

  .reservation {
    float:left;
    margin-left: 3px;
    font-size: 18px;
    font-weight: 300;
  }

  .logo {
    margin-top: 5px;
  }