.nav-menu {
  background-color: rgb(49, 47, 47);
  display: flex;
  flex-wrap: wrap
}

.page-logo {
  cursor: pointer;
  user-select: none;
  padding: 15px 18px;
  margin-right: 1%;
}

.buttons {
  flex-grow: 2;
}
