<div class="container">
  <dx-button
    [disabled]="!(hasPermission(permissions.CreateWorkoutTypeTag) | async)!"
    class="add-button"
    icon="plus"
    text="Add workout type tag"
    width="200px"
    type="success"
    (onClick)="openAddPopup()">
  </dx-button>

  <dx-data-grid
    id="grid"
    keyExpr="id"
    [dataSource]="workoutTypeTags"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [showRowLines]="true">
    <dxi-column dataField="id" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="tag" alignment="center" dataType="string" [minWidth]="300"></dxi-column>
    <dxi-column dataField="numberOfUses" alignment="center" dataType="number" [width]="150"></dxi-column>
    <dxi-column dataField="isActive" alignment="center" dataType="boolean" [width]="100"></dxi-column>
    <dxi-column dataField="createdBy" alignment="center" dataType="string" [width]="300"></dxi-column>
    <dxi-column dataField="createdDate" alignment="center" dataType="date" [format]="dateFormat" [width]="150"></dxi-column>
    <dxi-column type="buttons" caption="Edit tag">
      <dxi-button icon="edit" [onClick]="openEditPopup"
        [disabled]="!(hasPermission(permissions.UpdateWorkoutTypeTag) | async)!"></dxi-button>
    </dxi-column>
    <dxi-column type="buttons" caption="Delete tag">
      <dxi-button icon="trash" [onClick]="openDeletePopup"
        [disabled]="!(hasPermission(permissions.DeleteWorkoutTypeTag) | async)!"></dxi-button>
    </dxi-column>
    <dxo-paging
      [pageIndex]="0"
      [pageSize]="20">
    </dxo-paging>
  </dx-data-grid>
</div>

<dx-popup
  [(visible)]="isAddPopupVisible"
  [showTitle]="true"
  title="Add workout type tag"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="200">
  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [(formData)]="workoutTypeTagCommand" (onInitialized)="createPopupFromInitialize($event)">
      <dxi-item dataField="tag" editorType="dxTextBox">
        <dxi-validation-rule type="required" message="Tag name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="30" message="Tag must have a maximum of 30 characters"></dxi-validation-rule>
      </dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closeAddPopup()"></dx-button>
    <dx-button
      text="Save"
      icon="save"
      type="success"
      (onClick)="createWorkoutTypeTag()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>

<dx-popup
  [(visible)]="isEditPopupVisible"
  [showTitle]="true"
  title="Edit workout type tag"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="250">
  <div *dxTemplate="let data of 'content'">
    <dx-form [(formData)]="workoutTypeTagCommand" (onInitialized)="updatePopupFormInitialize($event)">
      <dxi-item dataField="tag" editorType="dxTextBox">
        <dxi-validation-rule type="required" message="Tag name is required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="30" message="Tag must have a maximum of 30 characters"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="isActive" editorType="dxSelectBox" [editorOptions]="{ dataSource: isActiveTypes, valueExpr: 'value', displayExpr: 'name' }"></dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closeEditPopup()"></dx-button>
    <dx-button
      text="Save"
      icon="save"
      type="success"
      (onClick)="editWorkoutTypeTag()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>

<app-confirmation-popup
  [(visible)]="isDeletePopupVisible"
  title="Delete workout type"
  content="Are you sure you want to permanently delete this workout type tag?"
  (confirm)="deleteWorkoutTypeTag()">
</app-confirmation-popup>
