.tab-title {
  font-weight: 500; font-size: 15px;
}

.dx-icon-custom-style {
  font-size: 15px; margin-right: 8px;
}

#tab-panel {
  background-color: white
}

.button-section {
  margin-bottom: 40px;
}
