<div class="container" *ngIf="instructors">
	<dx-button
		class="add-button success-button"
		icon="plus"
		text="Add instructor"
		width="160px"
		type="success"
		(onClick)="openPopup()">
	</dx-button>
	<dx-list
		[dataSource]="instructors"
		[searchEnabled]="true"
		searchMode="contains"
		[searchExpr]="['firstName', 'lastName']"
		itemTemplate="instructorsList"
		[width]="800">
		<div *dxTemplate="let instructor of 'instructorsList'">
			<div [routerLink]="[instructor.id]">{{ instructor.firstName + ' ' + instructor.lastName}}</div>
		</div>
	</dx-list>
</div>

<dx-popup
  [(visible)]="isPopupOpened"
  [showTitle]="true"
  title="Add instructor"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [width]="500"
  [height]="400">
  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [(formData)]="instructorCommand" (onInitialized)="onFormInitialized($event)">
      <dxi-item dataField="firstName" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
				<dxi-validation-rule type="stringLength" [max]="50" message="First name must be a maximum of 50 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="lastName" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="Last name is required"></dxi-validation-rule>
				<dxi-validation-rule type="stringLength" [max]="50" message="Last name must be a maximum of 50 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="gender" editorType="dxSelectBox"
				[editorOptions]="{ dataSource: gender, valueExpr: 'index', displayExpr: 'value' }">
				<dxi-validation-rule type="required" message="Gender is required"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="biography" editorType="dxTextBox">
				<dxi-validation-rule type="stringLength" [max]="3000" message="Biography must be a maximum of 3000 characters"></dxi-validation-rule>
			</dxi-item>
      <dxi-item dataField="email" editorType="dxTextBox">
				<dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
				<dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
			</dxi-item>
    </dx-form>
    <dx-load-panel
      [(visible)]="isSaving"
      message="Saving...">
    </dx-load-panel>
  </div>
  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      class="popup-button"
      text="Cancel"
      type="normal"
      (onClick)="closePopup()"></dx-button>
    <dx-button
      text="Save"
      type="success"
      (onClick)="createInstructor()"></dx-button>
  </dxi-toolbar-item>
</dx-popup>


