<div class="container" *ngIf="isReservationsExist">
  <app-search-panel
    [allowedFilters]="['WorkoutDate', 'ReservationStatus']"
    (searchPhraseChanged)="searchPhraseChanged($event)"
    (filterByChanged)="selectedFilterChanged($event)"
    (orderByDescendingChanged)="orderByChanged($event)"
    (refresh)="refresh()"
  ></app-search-panel>
  <dx-data-grid
    keyExpr="id"
    [dataSource]="reservations.items"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [showRowLines]="false"
    [showColumnLines]="false"
    [hoverStateEnabled]="true"
    (onInitialized)="onDataGridInit($event)"
    (onRowClick)="navigateToReservationDetails($event)"
  >
    <dxi-column dataField="date" caption="Workout date" [hidingPriority]="2" alignment="center" dataType="date" [format]="dateFormat"></dxi-column>
    <dxi-column dataField="workoutTypeName" caption="Workout" [hidingPriority]="3" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="instructorFullName" caption="Instructor" [hidingPriority]="1" alignment="center" dataType="string"></dxi-column>
    <dxi-column dataField="reservationStatus" caption="Status" [hidingPriority]="1" alignment="center" dataType="string"></dxi-column>
    <dxo-paging [enabled]="false"> </dxo-paging>
  </dx-data-grid>

  <app-pager
    [allowedPageSize]="[20, 50, 100]"
    [totalPages]="reservations.totalPages"
    (pageSizeChanged)="pageSizeChanged($event)"
    (pageNumberChanged)="pageNumberChanged($event)">
  </app-pager>
</div>

<div class="container" *ngIf="!isReservationsExist">
  <h2>You don't have any reservations :)</h2>
</div>
