<nav class="topnav">
  <a routerLink="home">Home</a>
  <a routerLink="workouts">Workouts</a>
  <a routerLink="instructors">Instructors</a>
  <a routerLink="workout-types">Workout types</a>
  <div class="dropdown">
    <div class="account-button">
      <div class="dropbtn">Account</div>
      <i class="arrow-dropdown-icon"></i>
    </div>
    <div class="dropdown-content">
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
      <a routerLink="reservations">Reservations</a>
      <a routerLink="administration">Administration</a>
      <a routerLink="account-settings">Settings</a>
      <a>Logout</a>
    </div>
  </div>
</nav>
