<div class="form">
  <dx-form id="registerForm" [(formData)]="registerFormData" (onInitialized)="initializeDxForm($event)">
    <dxi-item itemType="group" caption="Personal Information">
      <dxi-item dataField="firstName">
        <dxi-validation-rule
          type="required"
          message="First name is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          [pattern]="namePattern"
          message="Do not use digits in the first name">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="lastName">
        <dxi-validation-rule
          type="required"
          message="Last name is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          [pattern]="namePattern"
          message="Do not use digits in the last name">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="gender" editorType="dxSelectBox"
        [editorOptions]="{ dataSource: gender, valueExpr: 'index', displayExpr: 'value' }">
        <dxi-validation-rule
          type="required"
          message="Gender is required">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="dateOfBirth"
        editorType="dxDateBox"
        [editorOptions]="dateOptions">
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Credentials">
      <dxi-item dataField="email">
        <dxi-validation-rule
          type="required"
          message="Email is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          message="Email is invalid">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }">
        <dxi-validation-rule
          type="required"
          message="Password is required">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="confirmPassword" [editorOptions]="{ mode: 'password' }">
        <dxi-validation-rule
          type="required"
          message="Confirm Password field is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="compare"
          [comparisonTarget]="passwordComparison"
          message="Password and Confirm Password do not match">
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
  </dx-form>

  <div class="button">
    <dx-button (onClick)="signUp()"
      type="success"
      text="Register"
      [width]="200">
    </dx-button>
  </div>
</div>
